<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your QR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <H1>QR Generated: </H1>
    <span class="border border-primary">
    <div class="container">
        <img src=<%= qr_code %> alt="QR code">
    </div>
    </span>
    <div class="d-grid gap-2">
        <a class="btn btn-secondary" href="/" role="button">Back</a>
    </div>
</body>
</html>